main{
    
    background: #a8dadc;
    
    width: fit-content;

    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 1rem;
   border-radius: 2.5rem;
   
    section{
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        p{
            margin: 1rem;
        }
    }
   
}