#search{
    background-color: #1d3557;
    padding: 1rem 1rem 1rem 4rem;
    width: 100vw;
    input{
        margin-right: 1rem;
       color: #1d3557;
       padding: 0.1rem;
    }
    input:hover, input:focus{
        transition: 500ms;
        border: 2px solid #393e46;
        outline: none;
    }
    button{
        background-color: #f1faee;
        padding: 0.1rem 0.5rem 0.2rem 0.5rem;
        border-radius: 0.5rem;
        transition: 300ms;
    }
    button:hover{
        background-color: #457b9d;
        transition: 300ms;
    }
}